@import "vue-draggable-resizable/style.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: radial-gradient(#14213D 0%, rgb(0, 16, 20) 100%);
  overflow-x : hidden;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.1s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
}

.jse-absolute-popup{
  position: absolute!important;
}